<html>
<head>
  <title>MOVIE LOVERS</title>
</head>
<body>
  <h1>MOVIE LOVERS</h1> 
  <h3>Write a text to find 9 movies about that text:</h3>
 <form action="/search" method="POST">
    <input type="text" name="movie" value="movie"> <br>
    <button type="submit" name="creation" value="creation">SEARCH</button>
  </form>
</body>
</html>